.section-gallery {
    padding-top: 5rem;

    &__paragraph {
        @include paragraph-style;
    }

    &__line {
        @include display-flex;

        @include respond(phone) {
            display: block;
        }
    }

    &__image {
        position: relative;
        overflow: hidden;

        & > * {
            max-width: 100%;
            height: auto;
            display: block;
            transition: all .4s ease;

            @include respond(phone) {
                max-width: none;
                width: 73%;
                margin: 0 auto;
                display: block;
                margin-bottom: 1.4rem;
            }


            @include respond(tiny-phone) {
                max-width: none;
                width: 100%;
                display: inline-block;
                margin-bottom: 1rem;
            }
        }

        &:not(:last-child) {
            margin-right: 1.5rem;

            @include respond(phone) {
                margin-right: 0;
            }
        }
    }

    &__caption {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgba($color-pictonBlue, 0.7);
        color: $color-white;
        transition: all .4s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all .4s;
        backface-visibility: hidden;

        @include respond(phone) {
            width: 73%;
            opacity: 1;
        }


        @include respond(tiny-phone) {
            width: 100%;
        }
    }

    &__title {
        font-size: 1.7rem;
        padding-bottom: 1rem;

        @include respond(tab-port) {
            padding-bottom: .5rem;
            padding-top: 1.5rem;
        }


        @include respond(phone) {
            padding-bottom: 2rem;
            font-size: 2rem;
        }
    }

    &__info {
        max-width: 20rem;
        font-size: 1.4rem;
        text-align: center;
        line-height: 1.5;
        padding-bottom: 2rem;

        @include respond(tab-port) {
            padding-bottom: 1.3rem;
        }


        @include respond(phone) {
            padding-bottom: 2.3rem;
            font-size: 1.6rem;
        }
    }

    &__btn:link,
    &__btn:visited {
        text-decoration: none;
        font-size: 1.3rem;
        padding: 1.3rem 1.3rem 1.3rem 1.3rem;
        background-color: $color-light-orange;
        color: $color-white;
        border-radius: 5px;
        transition: all .4s ease;

        @include respond(tab-port) {
            margin-bottom: 1rem;
        }


        @include respond(phone) {
            margin-bottom: 0rem;
        }
    }

    &__btn:hover {
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
        transform: translateY(-0.4rem);
    }

    &__btn:active {
        box-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.5);
        transform: translateY(0);
    }

    &__caption:hover {
        opacity: 1;
        cursor: pointer;
    }
}
