.slider {

	&__pages {
		text-align: center;
		font-size: 1.6rem;
		@include display-flex;
		position: relative;

		&::before {
			   content: '\002F';
			   color: $color-slider;
			   position: absolute;
		}
	}

	&__icon {
		width: 1.6rem;
		height: 3.4rem;
		fill: $color-grey;
	}

	&__numbers {
		margin: 0 2.8rem;
		font-weight: 500;
		letter-spacing: 2.2px;

		&--light {
			color: $color-slider;
			margin-right: .5rem;
		}

		&--dark {
		 	color: $color-black;
		 	margin-left: 2rem;
		}
	}


}