
// MARGIN-BOTTOM 
.margin-bottom-smallest {
	margin-bottom: 1.5rem;
}

.margin-bottom-small {
	margin-bottom: 2.6rem;

	@include respond(phone) {
		 margin-bottom: 1.6rem;
		 margin-top: 1.6rem;
	  }
}

.margin-bottom-medium {
	margin-bottom: 4rem;

	@include respond(phone) {
		 margin-bottom: 2rem;
	}
}

.margin-bottom-large {
	margin-bottom: 6rem;
}

.margin-bottom-larger {
	margin-bottom: 9rem;

	@include respond(phone) {
		 margin-bottom: 4rem;
	}
}

.margin-top-small {
	margin-top: 3.5rem;

	@include respond(phone) {
		 margin-top: 1.5rem;
	}
}

// MARGIN-RIGHT

.margin-right-medium {
	margin-right: 5.5rem;

	@include respond(phone) {
			margin-right: 0;
		}

}

.margin-right-huge {
	margin-right: 7rem;

	@include respond(phone) {
	    margin-right: 0rem;
	}

}

.margin-left-huge {
	margin-left: 7rem;

	@include respond(phone) {
			margin-left: 0;
		}
}



