@mixin paragraph-style {
    max-width: 70rem;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1.6px;
    color: $color-paragraph;
    margin-bottom: 6.5rem;
    text-align: center;

    @include respond(phone) {
        margin-bottom: 3.5rem;
    }
}

@mixin display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin scaledImg {
    transform: scale(1.2);
    cursor: pointer;
}

@mixin respond($breakpoint) {
    @if $breakpoint == tiny-phone {
        @media only screen and (max-width: 33em) {
            @content;
        } //530px
    }

    @if $breakpoint == phone {
        @media only screen and (max-width: 48em) {
            @content;
        } //767px
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 62em) {
            @content;
        } //992px
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) {
            @content;
        } //1200px
    }

    @if $breakpoint == laptop-big {
        @media only screen and (min-width: 87.5em) {
            @content;
        } //1400px
    }

    @if $breakpoint == laptop-medium {
        @media only screen and (min-width: 95.5em) {
            @content;
        } //1400px
    }

    @if $breakpoint == laptop-huge {
        @media only screen and (min-width: 125.5em) {
            @content;
        } //1700px
    }
}
