//Colors

$color-black: #000000;

$color-white: #ffffff;

$color-grey: grey;

$color-springSun: #f2f1c4;

$color-pictonBlue: #34e8eb;

$color-light-green: #90ee90;
$color-light-orange: rgba(255, 119, 48, 0.8);

$color-paragraph-light: #848484;
$color-paragraph: #5b5b5c;

$color-border-light: #dddcdc;
$color-input-border: #7a7a7a;
$color-input-background: #f4f4f4;

$color-about-us: #c4c4c4;

$color-placeholder: #3a4047;

$color-slider: #c5c5c5;
